# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# Swift Package Manager
.build/
Packages/
Package.resolved

# Firebase
GoogleService-Info.plist

# Backend
backend/node_modules/
backend/dist/
backend/.env
backend/service-account.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
